@mixin font-face ($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin for-pseudo-image-add {
  content: "";
  display: block;
  position: absolute;
}

@mixin button {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px;
  border: none;
}

@mixin primary-button {
  color: $basic-white;
  background-color: $basic-green;
}

@mixin secondary-button {
  color: #444444;
  background-color: $basic-light-gray;
}
