@mixin font-face ($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 10px 0;
}

@mixin primary-button {
  color: $basic-white;
  background-color: $basic-green;
}

@mixin secondary-button {
  color: $primary-dark-gray;
  background-color: $basic-light-gray;
}
