/* здесь используйте глобальные переменные */
$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
$basic-light-gray: #f2f2f2;
$basic-dark-gray: #666666;

$oswald-font: "Oswald", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;

$mobile-container-width: 87%;
$tablet-container-width: 92%;
$desktop-container-width: 85%;
