/* здесь используйте глобальные переменные */
// Цвета
$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
$basic-light-gray: #f2f2f2;
$basic-dark-gray: #666666;

// Шрифт
$oswald-font: "Oswald", "Arial", sans-serif;

// Ширина экранов
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1439px;
$desktop-width: 1440px;

// Ширина контента
$mobile-container-width: 87%;
$tablet-container-width: 92%;
$desktop-container-width: 1220px;
