.button {
  display: block;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px;
  border: none;
}

.button--primary {
  color: $basic-white;
  background-color: $basic-green;
}

.button--secondary {
  color: #444444;
  background-color: $basic-light-gray;
}

.button--big {
  font-size: 20px;
  line-height: 26px;
}
