.card {}

.card__image-link {}

.card__product-image {}

.card__title-link {
  color: #222222;
}

.card__title {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card__features-list {}

.card__item {
  font-size: 12px;
  line-height: 16px;
}

.card__order {}
