.developer-logo__link {
  display: block;
  background-color: $basic-dark-gray;
  cursor: pointer;
}

.developer-logo__link--logo-title {
  width: 113px;
  height: 20px;
  margin-right: 23px;

  mask-image: url("../../icons/stack.svg#html-academy-text-logo");
}

.developer-logo__link--logo-title:active {
  background-color: rgba(68, 68, 68, 0.3);
}

.developer-logo__link--logo-image {
  width: 27px;
  height: 34px;

  mask-image: url("../../icons/stack.svg#html-academy-logo");
}

.developer-logo__link--logo-image:hover,
.developer-logo__link--logo-image:focus {
  background-color: $basic-green;
}

.developer-logo__link--logo-image:active {
  background-color: rgba(104, 183, 56, 0.3);
}
