.extra-card {}

.extra-card__name {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.extra-card__order {}

.extra-card__price {
  line-height: 14px;
}

.extra-card__value {
  line-height: 14px;
}
