.hero {
  padding-top: 27px;
  margin: 0 auto 20px;
  font-family: $oswald-font;
  color: $basic-white;

  @media (max-width: $mobile-width-max) {
    position: relative;

    @include flex(column, center, center);
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 40px 30px 0 120px;
    margin: 0;

    background-color: $basic-white;
    color: $basic-black;

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    position: static;

    @include flex(column, center, start);
    flex-wrap: wrap;
    width: 30%;

    padding-top: 78px;
    margin-left: 190px;
    margin-right: 23%;
    margin-bottom: 215px;

    background-color: transparent;
  }
}

.hero::before {
  @media (max-width: $mobile-width-max) {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    width: 100%;
    height: 302px;

    background-image:
      image-set(
        url("../../images/index/hero/hero-background-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/index/hero/hero-background-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/index/hero/hero-background-mobile@1x.jpg") type("image/jpg") 1x,
        url("../../images/index/hero/hero-background-mobile@2x.jpg") type("image/jpg") 2x),
      linear-gradient(to right, #4f4e53 50%, transparent 50%),
      linear-gradient(to left, #3f3e44 50%, transparent 50%);
    background-size:
      contain,
      100%,
      100%;
    background-repeat: no-repeat;
    background-position:
      center,
      left,
      right;
    box-shadow: inset 0 0 0 100vh rgba(104, 183, 56, 0.8);
  }

  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    width: 50%;
    height: 694px;

    background-image:
      image-set(
        url("../../images/index/hero/hero-background-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/index/hero/hero-background-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/index/hero/hero-background-desktop@1x.jpg") type("image/jpg") 1x,
        url("../../images/index/hero/hero-background-desktop@2x.jpg") type("image/jpg") 2x),
      linear-gradient(to right, transparent 20%, #3c3a3f 20%);
    background-size:
      1041px 695px,
      100%;
    background-repeat: no-repeat;
    background-position:
      left,
      right;
    box-shadow: inset 0 0 0 100vh rgba(104, 183, 56, 0.8);
  }
}

.hero__title {
  width: 90%;
  margin: 0 auto 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 70%;
    margin: 0;
    margin-bottom: 40px;

    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
    width: 100%;
  }
}

.hero__text {
  width: 80%;
  margin: 0 auto 30px;

  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: start;

    margin: 0;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.hero__image {
  display: block;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-left: -91px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;

    top: 17%;
    left: 44%;
    transform: translateX(15px) translateY(-3px);
  }
}

.hero__select {
  width: 280px;
  min-height: 40px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 270px;
    left: 120px;

    width: 244px;
    min-height: 54px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}
