.hero {
  font-family: "Oswald", sans-serif;
  color: $basic-white;
  background-color: $basic-green;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
}

.hero__text {
  line-height: 14px;
  text-transform: uppercase;
}

.hero__image {}

.hero__select {
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-transform: uppercase;
}
