.hero {
  font-family: $oswald-font;
  color: $basic-white;
  background-color: $basic-green;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
}

.hero__text {
  line-height: 14px;
  text-transform: uppercase;
}

.hero__image {}

.hero__select {}
