.hero {
  @include flex(column, center, center);

  font-family: $oswald-font;
  color: $basic-white;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: $tablet-container-width;
    margin: 0 auto;

    background-color: $basic-white;
    color: $basic-black;
  }
}

.hero__title {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.hero__text {
  line-height: 14px;
  text-transform: uppercase;
}

.hero__image {}

.hero__select {
  @media (min-width: $tablet-width) {
    position: absolute;
  }
}
