.location {
  background-color: $basic-light-gray;
}

.location__container {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  gap: 10px;

  width: $mobile-container-width;
  margin: 0 auto;
  padding: 25px 0;

  background-color: $basic-light-gray;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 60px 70px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    transform: translateX(111px) translateY(93px);
    z-index: 1;

    width: 39%;
    padding: 61px 79px;
    background-color: $basic-white;
  }
}

.location__text {
  margin: 0;
  width: 46%;

  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 25%;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
  }
}

.location__address {
  margin: 0;
  width: 140px;

  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 30%;

    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 39%;
    text-align: left;
  }
}

.location__city {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.location__map-container {
  position: relative;
  width: 100%;
  height: 362px;
  background-image:
    image-set(
      url("../../images/index/map/map-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index/map/map-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/index/map/map-mobile@1x.png") type("image/png") 1x,
      url("../../images/index/map/map-mobile@2x.png") type("image/png") 2x);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    height: 400px;

    background-image:
      image-set(
        url("../../images/index/map/map-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/index/map/map-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/index/map/map-tablet@1x.png") type("image/png") 1x,
        url("../../images/index/map/map-tablet@2x.png") type("image/png") 2x);
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../images/index/map/map-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/index/map/map-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/index/map/map-desktop@1x.png") type("image/png") 1x,
        url("../../images/index/map/map-desktop@2x.png") type("image/png") 2x);
  }
}

.location__map {
  display: block;

  height: 100%;
  width: 100%;

  border: none;
}
