.main-footer {
  background-color: $basic-light-gray;
}

.main-footer__container {
  @include flex(column, space-between, center);

  width: $mobile-container-width;
  margin: 0 auto;
  padding: 40px 0;
  gap: 19px;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    width: $tablet-container-width;
    padding: 57px 0;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container-width;
    padding: 68px 0;
  }
}

.main-footer__logo-link {
  width: 130px;
  height: 25px;
}

.main-footer__social-list {
  @media (max-width: $mobile-width-max) {
    padding: 20px 50px;

    border-top: 1px solid  #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.main-footer__developer {
  @include flex(row, space-between, center);
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 162px;
  }

  @media (min-width: $desktop-width) {
    width: 164px;
  }
}
