.main-nav {
  font-family: $oswald-font;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $mobile-width-max) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.main-nav__item {
  text-align: center;
  margin: 0;
  padding: 22px 30px;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.main-nav__item:first-child {
  @media (min-width: $desktop-width) {
    margin-left: -2px;
  }
}

.main-nav__item:last-child {
  @media (min-width: $tablet-width) {
    padding-left: 1px;
  }
}

.main-nav__item::after {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.main-nav__item-link {
  text-decoration: none;
  color: $basic-black;
}

.main-nav__item-link:hover,
.main-nav__item-link:focus {
  opacity: 0.6;
}

.main-nav__item-link:active {
  opacity: 0.3;
}

.main-nav__item-link--designed {
  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.main-nav__item-link--current {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.main-nav__item-link--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;

    width: 100%;
    height: 2px;

    background-color: $basic-green;
  }
}

.main-nav__item-link--designed.main-nav__item-link--current::after {
  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}
