.offer {}

.offer__item {
  background-color: #d9d9d9;
}

.offer__title {
  position: relative;
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
  text-transform: uppercase;
}

.offer__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $basic-green;
}

.offer__title--slim::after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 50px;
  transform: translateY(-40px) translateX(7px);
  background-image: url("../../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
}

.offer__title--fit::after {
  content: "";
  display: block;
  position: absolute;
  width: 67px;
  height: 28px;
  transform: translateY(-25px) translateX(-8px);
  background-image: url("../../icons/stack.svg#cat-pro");
  background-repeat: no-repeat;
}

.offer__description {}

.offer__link {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 16px;
  color: $basic-black;
  text-decoration: none;
}

.offer__link::after {
  content: "";
  display: block;
  width: 32px;
  height: 10px;
  mask-image: url("../../icons/stack.svg#arrow-icon");
  background-color: $basic-black;
}
