.offer {}

.offer__item {
  background-color: #d9d9d9;
}

.offer__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
  text-transform: uppercase;
}

.offer__description {}

.offer__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $basic-black;
}

