.show-more-card {
  @include flex(column, flex-end, center);
}

.show-more-card__title {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.show-more-card__text {
  font-size: 12px;
  line-height: 16px;
}

.show-more-card__to-all {
  width: 100%;
}
