.subscription {
  width: $mobile-container-width;
  margin: 0 auto;

  font-family: $oswald-font;

  @media (min-width: $tablet-width) {
    width: $tablet-container-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container-width;
  }
}

.subscription__title {
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.subscription__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.subscription__email-form {
  @media (min-width: $tablet-width) {
    @include flex();

    margin: 0 auto;
  }
}

.subscription__input {
  width: 100%;

  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 376px;
    height: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.subscription__subscribe {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 256px;
    height: 56px;
  }
}
